<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
  <div>
    <md-button ng-click="buildQuestions()" class="md-raised md-primary">Generate</md-button>
  </div>

    <md-card  style="width: 600px;" ng-repeat="question in questions" class="animate">
      <div layout="column">
        <h3 style="font-size:40px" class="text-center" >This Image:</h3>
        <img src="{{question.image}}" class="md-card-image" alt="Washed Out">
        <h3 style="font-size:40px" class="text-center">Came From ... </h3>
        <p class="text-center" style="font-size:25px"><em>{{question.displayTitle}}</em></p>
        <div layout="row" flex layout-align="center start">
          <!-- <md-button class="md-raised md-warn" ng-click="showSimpleToast()" style="height:75px;width:150px">No</md-button> -->
          <md-button class="md-raised md-warn" ng-click="noButtonClickImageToTitle(question)" style="height:75px;width:150px">No</md-button>
          <span style="width:10px;"></span>
          <!-- <md-button class="md-primary md-raised" ng-click="showSimpleToast()" md-theme="green"  style="height:75px;width:150px">Yes</md-button> -->
          <md-button class="md-primary md-raised" ng-click="yesButtonClickImageToTitle(question)" md-theme="green"  style="height:75px;width:150px">Yes</md-button>
        </div>
      </div>
    </md-card>

    <!-- //////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////
    <h1> This Image Came From </h1>

    <div ng-model="flexQuestionsArray"  class="row marketing">
      <ul class="list-group" ng-repeat="question in flexQuestionsArray">

        <li ng-hide="" class="list-group-item">
          <h3 style="font-size:40px" class="text-center">This Image</h3>
          <img ng-src="{{question.image}}" style="width:100%"/>
          <h3 style="font-size:40px" class="text-center">Came From ...</h3>
          <ul id='question-list' style="list-style-type:none">
            <li><h3>{{question.displayTitle}}</h3></li>
          </ul>
          <button ng-click="question.correctAnswer('no', 'title')" style="width:50%; height: 150px;" class="btn btn-danger"> No </button>
          <button ng-click="question.correctAnswer('yes', 'title')"  style="width:50%; height: 150px;" class="btn btn-success pull-right"> Yes </button>
        </li>

      </ul>
    </div> -->














  <!-- <div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="question in questions">
        <strong>{{question.title}}</strong><br>
        <img src="{{question.image}}">
      </li>
    </ul>
  </div> -->

  <div>
    {{alchamyResult}}
  </div>

</div>
