<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
  <div>
    <md-button ng-click="buildQuestions()" class="md-raised md-primary">Generate</md-button>
  </div>




  <md-card  style="width: 600px;" ng-repeat="question in questionsArray | orderBy:'type'" class="animate">

    <!-- question has image top  -->
    <div ng-show="questionHasImageTop(question)"layout="column">
      <h3 style="font-size:40px" class="text-center" >This Image:</h3>
      <img src="{{question.questionTop}}" class="md-card-image" alt="Washed Out">
      <h3 style="font-size:40px" class="text-center">Came From ... </h3>
      <p class="text-center" style="font-size:25px"><em>{{question.questionBottom}}</em></p>
      <div layout="row" flex layout-align="center start">
        <!-- <md-button class="md-raised md-warn" ng-click="showSimpleToast()" style="height:75px;width:150px">No</md-button> -->
        <md-button class="md-raised md-warn" ng-click="noButtonClick(question)" style="height:75px;width:150px">No</md-button>
        <span style="width:10px;"></span>
        <!-- <md-button class="md-primary md-raised" ng-click="showSimpleToast()" md-theme="green"  style="height:75px;width:150px">Yes</md-button> -->
        <md-button class="md-primary md-raised" ng-click="yesButtonClick(question)" md-theme="green"  style="height:75px;width:150px">Yes</md-button>
      </div>
    </div>

    <!-- question has image bottom  -->
    <div ng-show="questionHasImageBottom(question)" layout="column">
      <h3 style="font-size:40px" class="text-center" >This Sentence</h3>
      <h4>{{question.questionTop}}</h4>
      <h3 style="font-size:40px" class="text-center">Goes with ... </h3>
      <img src="{{question.questionBottom}}" class="md-card-image" alt="Washed Out">
      <div layout="row" flex layout-align="center start">
        <!-- <md-button class="md-raised md-warn" ng-click="showSimpleToast()" style="height:75px;width:150px">No</md-button> -->
        <md-button class="md-raised md-warn" ng-click="noButtonClick(question)" style="height:75px;width:150px">No</md-button>
        <span style="width:10px;"></span>
        <!-- <md-button class="md-primary md-raised" ng-click="showSimpleToast()" md-theme="green"  style="height:75px;width:150px">Yes</md-button> -->
        <md-button class="md-primary md-raised" ng-click="yesButtonClick(question)" md-theme="green"  style="height:75px;width:150px">Yes</md-button>
      </div>
    </div>

    <!-- question has no image  -->
    <div ng-show="questionHasNoImage(question)" layout="column">
      <h3 style="font-size:40px" class="text-center" >This sentence: </h3>
      <h4>{{question.questionTop}}</h4>
      <h3 style="font-size:40px" class="text-center">Came From ... </h3>
      <p class="text-center" style="font-size:25px"><em>{{question.questionBottom}}</em></p>
      <div layout="row" flex layout-align="center start">
        <!-- <md-button class="md-raised md-warn" ng-click="showSimpleToast()" style="height:75px;width:150px">No</md-button> -->
        <md-button class="md-raised md-warn" ng-click="noButtonClick(question)" style="height:75px;width:150px">No</md-button>
        <span style="width:10px;"></span>
        <!-- <md-button class="md-primary md-raised" ng-click="showSimpleToast()" md-theme="green"  style="height:75px;width:150px">Yes</md-button> -->
        <md-button class="md-primary md-raised" ng-click="yesButtonClick(question)" md-theme="green"  style="height:75px;width:150px">Yes</md-button>
      </div>
    </div>

  </md-card>


</div>
