.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.animate.ng-enter{
  -webkit-transition: 490ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 490ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 490ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 490ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 490ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  -webkit-transform: rotateX(-180deg) translatez(30px);
  -moz-transform: rotateX(-180deg) translatez(30px);
  -ms-transform: rotateX(-180deg) translatez(30px);
  -o-transform: rotateX(-180deg) translatez(30px);
  transform: rotateX(-180deg) translatez(30px);
  opacity: 0;
  height: 626px;
}

.animate.ng-enter.animate.ng-enter-active,
.animate.ng-leave {
  -webkit-transform: rotateX(0deg) translatez(30px);
  -moz-transform: rotateX(0deg) translatez(30px);
  -ms-transform: rotateX(0deg) translatez(30px);
  -o-transform: rotateX(0deg) translatez(30px);
  transform: rotateX(0deg) translatez(30px);
  opacity: 1;
  height: 626px;
}
