<div ng-include="'components/navbar/navbar.html'"></div>


<div layout="column" layout-align="center center">
  <div ng-hide="quizStarted" layout layout-align="center center">
    <md-button class="md-primary md-raised bigButton" ng-click="startQuiz()" md-theme="green"  >Start Quiz</md-button>

  </div>

  <md-progress-linear style="height: 15px" md-theme="green" ng-show="quizStarted" md-mode="determinate" value={{pCTMaxScore}}></md-progress-linear>
  <div ng-show="quizStarted" style="">
    <h2 class="yourscore" style="text-align: center; padding:10px;">Your Score: {{score}} Time Left: {{minLeft}}:{{secondsLeft}}</h2>
  </div>



<md-card  style="width:550px; height:650px; background-color:rgb(235, 238, 244);" ng-repeat="question in questionsArray | filter:filterQuestion" class="animate">


  <!-- question has image top  -->
  <div ng-show="questionHasImageTop(question)" style="height:560px;" layout="column">
    <h3 style="font-size:28px" class="text-center" >This Image:</h3>
    <img src="{{question.questionTop}}" class="md-card-image" alt="Washed Out">
    <h3 style="font-size:28px" class="text-center">Came From ... </h3>
    <p class="text-center" style="font-size:25px"><em>{{question.questionBottom}}</em></p>
    <div layout="row" flex layout-align="center start">
      <md-button class="md-raised md-warn" ng-click="noButtonClick(question)" style="height:75px;width:150px">No</md-button>
      <span style="width:10px;"></span>

      <md-button class="md-primary md-raised" ng-click="yesButtonClick(question)" md-theme="green"  style="height:75px;width:150px">Yes</md-button>
    </div>
  </div>

  <!-- question has image bottom  -->
  <div ng-show="questionHasImageBottom(question)" style="height:560px;" layout="column">
    <h3 style="font-size:28px" class="text-center" >This Sentence</h3>
    <h4>{{question.questionTop}}</h4>
    <h3 style="font-size:28px" class="text-center">Goes with ... </h3>
    <img src="{{question.questionBottom}}" class="md-card-image" alt="Washed Out">
    <div layout="row" flex layout-align="center start">
      <!-- <md-button class="md-raised md-warn" ng-click="showSimpleToast()" style="height:75px;width:150px">No</md-button> -->
      <md-button class="md-raised md-warn" ng-click="noButtonClick(question)" style="height:75px;width:150px">No</md-button>
      <span style="width:10px;"></span>
      <!-- <md-button class="md-primary md-raised" ng-click="showSimpleToast()" md-theme="green"  style="height:75px;width:150px">Yes</md-button> -->
      <md-button class="md-primary md-raised" ng-click="yesButtonClick(question)" md-theme="green"  style="height:75px;width:150px">Yes</md-button>
    </div>
  </div>

  <!-- question has no image  -->
  <div ng-show="questionHasNoImage(question)" style="height:560px;" layout="column">
    <h3 style="font-size:28px" class="text-center" >This sentence: </h3>
    <h4>{{question.questionTop}}</h4>
    <h3 style="font-size:28px" class="text-center">Came From ... </h3>
    <p class="text-center" style="font-size:25px"><em>{{question.questionBottom}}</em></p>
    <div layout="row" flex layout-align="center start">
      <!-- <md-button class="md-raised md-warn" ng-click="showSimpleToast()" style="height:75px;width:150px">No</md-button> -->
      <md-button class="md-raised md-warn" ng-click="noButtonClick(question)" style="height:75px;width:150px">No</md-button>
      <span style="width:10px;"></span>
      <!-- <md-button class="md-primary md-raised" ng-click="showSimpleToast()" md-theme="green"  style="height:75px;width:150px">Yes</md-button> -->
      <md-button class="md-primary md-raised" ng-click="yesButtonClick(question)" md-theme="green"  style="height:75px;width:150px">Yes</md-button>
    </div>
  </div>

</md-card>
